## Knn ALgorithm

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("mldata.csv")

In [3]:
df

     age   height  weight  gender likeness
0     27  170.688    76.0    Male  Biryani
1     41  165.000    70.0    Male  Biryani
2     29  171.000    80.0    Male  Biryani
3     27  173.000   102.0    Male  Biryani
4     29  164.000    67.0    Male  Biryani
..   ...      ...     ...     ...      ...
240   31  160.000    60.0    Male   Pakora
241   26  172.000    70.0    Male  Biryani
242   40  178.000    80.0    Male  Biryani
243   25    5.700    65.0    Male  Biryani
244   33  157.000    56.0  Female   Samosa

[245 rows x 5 columns]

In [4]:
df['gender'] = df['gender'].replace("Male",1)
df['gender'] = df['gender'].replace("Female",0)

In [5]:
df

     age   height  weight  gender likeness
0     27  170.688    76.0       1  Biryani
1     41  165.000    70.0       1  Biryani
2     29  171.000    80.0       1  Biryani
3     27  173.000   102.0       1  Biryani
4     29  164.000    67.0       1  Biryani
..   ...      ...     ...     ...      ...
240   31  160.000    60.0       1   Pakora
241   26  172.000    70.0       1  Biryani
242   40  178.000    80.0       1  Biryani
243   25    5.700    65.0       1  Biryani
244   33  157.000    56.0       0   Samosa

[245 rows x 5 columns]

In [6]:
x = df[['weight','gender']]
y = df['likeness']

In [7]:
x

     weight  gender
0      76.0       1
1      70.0       1
2      80.0       1
3     102.0       1
4      67.0       1
..      ...     ...
240    60.0       1
241    70.0       1
242    80.0       1
243    65.0       1
244    56.0       0

[245 rows x 2 columns]

In [10]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(x,y)

KNeighborsClassifier()

In [11]:
predicted = model.predict([[70,1]])

c:\Users\Biscode\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [12]:
predicted

array(['Biryani'], dtype=object)

In [13]:
model.predict(x)

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Samosa',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Pakora', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani'],
      dtype=object)

### To test the data

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
# Create  a model
model = KNeighborsClassifier(n_neighbors=5)
# Fit a model
model.fit(x_train,y_train)

KNeighborsClassifier()

In [33]:
x_test

     weight  gender
20     82.0       1
204    56.0       0
199    98.0       1
202    65.0       0
187    73.8       1
98     60.0       0
89     88.0       1
59     76.0       1
241    70.0       1
141    59.0       1
237    60.0       1
138   161.0       1
173    84.0       1
21     70.0       0
130    90.0       1
58     76.0       1
184    82.0       1
51     79.0       1
181    88.0       1
201    57.0       1
215    77.0       1
109    65.0       0
117    86.0       1
205    78.0       1
112    52.0       1
0      76.0       1
120    78.0       1
207    62.0       0
178    88.0       1
119    51.0       1
147    76.0       1
92     87.0       1
166    90.0       1
87     75.0       1
56     93.0       1
57     59.0       1
200    86.0       1
17     68.0       1
226    64.0       1
7      98.0       1
174    67.0       1
228    59.0       0
30     58.0       0
239    63.0       1
195    80.0       1
137    54.0       1
82     62.0       1
145    62.0       0
34     75.0       1

In [34]:
x_test.count()

weight    49
gender    49
dtype: int64

In [35]:
x_train

     weight  gender
188    80.0       1
44     84.0       1
149    57.0       1
236    50.0       0
153    63.4       1
..      ...     ...
131    40.0       0
196    79.0       1
146    55.0       1
31    102.3       1
180    90.0       1

[196 rows x 2 columns]

In [36]:
y_train

188    Biryani
44      Pakora
149    Biryani
236    Biryani
153     Samosa
        ...
131    Biryani
196     Samosa
146    Biryani
31     Biryani
180    Biryani
Name: likeness, Length: 196, dtype: object

In [37]:
y_test.count()

49

In [46]:
y_pred = model.predict(x_test)
y_pred

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [47]:
score = accuracy_score(y_test,y_pred)
score

0.6530612244897959

In [48]:
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import precision_score



precision_score([y_test, y_pred])

TypeError: precision_score() missing 1 required positional argument: 'y_pred'